:root {
  --bg-color: #1e272e;
  --primary-color: #32414D;
  --secondary-color: #808e9b;
  --tertiary-color: #667582;
  --accent-color: #ff3f34;
  --text-color: #eeeeee;
  --text-light: #d4d4d4;
}

* {
  box-sizing: border-box;
  color: var(--text-color);
}

body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--bg-color);
}

button {
  width: 100%;
  height: 100%;
  flex: auto;

  border: 0;
  border-radius: 6px;
  font-size: 20px;
}

#container,
#display,
#button-container {
  display: flex;
  flex-direction: column;
}

#container {
  width: 350px;
  height: 500px;
  padding: 4px;

  background-color: var(--primary-color);
  border-radius: 6px;
  box-shadow: 0px 0px 5px var(--tertiary-color);
}

/* DISPLAY */
#display {
  height: 20%;
}

#history,
#calculation {
  height: 50%;
  padding-bottom: 12px;
  padding-right: 12px;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#calculation {
  font-size: 36px;
  font-weight: 700;
}

#history {
  font-size: 16px;
  color: var(--text-light);
}

/* BUTTONS */
#button-container {
  height: 80%;

  gap: 2px;
}

.row {
  flex: auto;
  display: flex;
  gap: 2px;
}

.number-btn,
#comma,
#plus-minus {
  background-color: var(--secondary-color);
}

.operator-btn,
.dark-btn {
  background-color: var(--tertiary-color);
}

#equals {
  background-color: var(--accent-color);
}
