:root {
  --bg-color: #222831;
  --bg-lighter1: #31363f;
  --bg-lighter2: #474f5c;
  --bg-lighter3: #5d6879;
  --bg-lighter4: #748195;
  --accent-color: #76abae;
  --text-color: #eeeeee;
  --text-light: #d4d4d4;
}

* {
  box-sizing: border-box;
  color: var(--text-color);
}

body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--bg-color);
}

button {
  border: 0;
  border-radius: 6px;
}

#container,
#display,
#button-container {
  display: flex;
  flex-direction: column;
}

#container {
  width: 350px;
  height: 500px;
  padding: 4px;

  background-color: var(--bg-lighter1);
}

#display {
  height: 20%;
}

#history,
#calculation {
  height: 50%;
}

#history {
  color: var(--text-light);
}

/* BUTTONS */
#button-container {
  height: 80%;

  gap: 2px;
}

.row {
  flex: auto;
  display: flex;
  gap: 2px;
}

.number-btn,
.operator-btn {
  width: 100%;
  height: 100%;
  flex: auto;
}

.number-btn {
  background-color: var(--bg-lighter4);
}

.operator-btn {
  background-color: var(--bg-lighter3);
}

#equals {
  background-color: var(--accent-color);
}
